/*navbar style*/
  
nav {
    z-index: 99999;
    position: fixed;
    width: fit-content;
    height: 100vh;
    font-size: 1.5rem;
    box-sizing: border-box;
  }
  
  nav ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  nav ul li {
    list-style: none;
    padding: 0.6rem;
    background: rgba(0, 0, 0, 0.4);
    transition: all 0.9s;
    transition-delay: 1s;
    text-align: center;
    opacity: 0;
  }
  nav ul li:hover {
    cursor: pointer;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.89);
    padding: 0.7rem;
    transition-duration: 0.4s;
    transition-delay: 0s;
  }
